.sql-editor-container {
  .mat-form-field {
    width: 100%;
  }
}

.sql-editor-input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.table-container{
  max-height: 300px;
  overflow-y: auto;
}
