<mat-card>
  <mat-card-title>Connect to Database [UNDER CONSTRUCTION]</mat-card-title>
  <mat-card-subtitle>This view allows you to establish connection to MySQL Server</mat-card-subtitle>
  <mat-card-content>
    <h3>Provide information</h3>
    <div class="db-connection-form">
      <mat-form-field>
        <mat-label>DB Initial schema</mat-label>
        <input matInput type="text" autocomplete="off" [formControl]="form.schema"/>
        <mat-icon color="primary" matTooltip="Provide initial schema if you want to connect to it right away" matSuffix>info</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>DB Host</mat-label>
        <input matInput type="text" autocomplete="off" [formControl]="form.host"/>
        <mat-icon color="primary" matTooltip="Provide host name" matSuffix>info</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>DB Port</mat-label>
        <input matInput type="number" autocomplete="off" [formControl]="form.port"/>
        <mat-icon color="primary" matTooltip="Provide port number" matSuffix>info</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>DB Username</mat-label>
        <input matInput type="text" autocomplete="off" [formControl]="form.username"/>
        <mat-icon color="primary" matTooltip="Provide username to DB" matSuffix>info</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>DB Username Password</mat-label>
        <input matInput type="password" autocomplete="off" [formControl]="form.password"/>
        <mat-icon color="primary" matTooltip="Provide password for above username" matSuffix>info</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="fillTestConnectionData();">Fill test data</button>
      <button mat-raised-button color="primary" (click)="tryToConnect();">Connect</button>
    </div>

  </mat-card-content>
</mat-card>
