<mat-card>
  <mat-card-title>
    List of users
  </mat-card-title>
  <mat-card-subtitle>
    This view allows you to select, create and modify DB Server users
  </mat-card-subtitle>
  <div [hidden]="newUser">
    <mat-card-content>
      <button (click)="createUser()" mat-flat-button color="primary" [disabled]="selectedUser">Create user</button>
      <div *ngIf="outputData">
        <mat-table [dataSource]="outputData">
          <ng-container *ngFor="let column of outputColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element[column]}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element" matTooltip="Remove user">
              <button mat-icon-button color="primary" (click)="showDeleteUserDialog();">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="outputColumns.concat('actions')"></mat-header-row>
          <mat-row *matRowDef="let row; columns: outputColumns.concat('actions')" (click)="selectUser(row);"></mat-row>
        </mat-table>
        <div *ngIf="outputData?.length === 0">
          <h3>No data to display</h3>
        </div>
      </div>
      <div [hidden]="dataLoaded | async">
        <h3>No data to display</h3>
      </div>
    </mat-card-content>
  </div>

  <div [hidden]="!selectedUser">
    <mat-card-title>
      User details
    </mat-card-title>
    <mat-card-content>
      <app-user-details #userDetailsComponent [selectedUser]="selectedUser" (userUpdated)="finishUserUpdate($event);"></app-user-details>
    </mat-card-content>
  </div>
  <div *ngIf="newUser">
    <mat-card-title>
      New user
    </mat-card-title>
    <mat-card-content>
      <app-new-user #newUserComponent (userCreated)="handleUserCreated($event);"></app-new-user>
    </mat-card-content>
  </div>
</mat-card>

<ng-template #deleteDialogModal>
  <mat-dialog-content>
    <h3>This action cannot be undone. Are you sure you want to delete this user?</h3>
  </mat-dialog-content>
  <mat-dialog-actions class="center-flex">
    <button mat-button color="primary" (click)="cancelDelete()">Cancel</button>
    <button mat-flat-button color="primary" (click)="executeDelete()">Delete</button>
  </mat-dialog-actions>
</ng-template>
