<mat-card>
  <mat-card-title>
    List of users
  </mat-card-title>
  <mat-card-subtitle>
    This view allows you to select, create and modify DB Server users
  </mat-card-subtitle>
  <div [hidden]="newUser">
    <mat-card-content>
      <button (click)="createUser()" mat-flat-button color="primary">Create user</button>
      <app-sql-output-table [columnsAndRows]="usersData" [dataLoaded]="dataLoaded" (rowClick)="selectUser($event);"></app-sql-output-table>
    </mat-card-content>
  </div>

  <div [hidden]="!selectedUser">
    <mat-card-title>
      User details
    </mat-card-title>
    <mat-card-content>
      <app-user-details #userDetailsComponent [selectedUser]="selectedUser"></app-user-details>
    </mat-card-content>
  </div>
  <div *ngIf="newUser">
    <mat-card-title>
      New user
    </mat-card-title>
    <mat-card-content>
      <app-new-user #newUserComponent></app-new-user>
    </mat-card-content>
  </div>
</mat-card>
