<div *ngIf="outputData">
  <mat-table [dataSource]="outputData">
    <ng-container *ngFor="let column of outputColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element[column]}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="outputColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: outputColumns;" (click)="onRowClick(row);"></mat-row>
  </mat-table>
  <div *ngIf="outputData?.length === 0">
    <h3>No data to display</h3>
  </div>
</div>
<div [hidden]="dataLoaded | async">
  <h3>No data to display</h3>
</div>
