<div *ngIf="outputData" class="sql-output-table-container">
  <mat-table [dataSource]="outputData">
    <ng-container *ngFor="let column of outputColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef [matTooltip]="column">{{column}}</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element[column]" [style.max-width.px]="300"
                (click)="copyToClipboard(element[column]);">
        <span class="ellipsis">
            {{element[column]}}
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="outputColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: outputColumns;" (click)="onRowClick(row);"></mat-row>
  </mat-table>
  <div *ngIf="outputColumns.length === 0">
    <h3>Received 0 rows</h3>
  </div>
</div>
<div *ngIf="!isDataLoaded">
  <h3>No data to display</h3>
</div>
