.mat-row {
  max-height: 40px;
  &:hover {
    cursor: pointer;
    background-color: #e0e0e0;
    text-shadow: 0 0 1px #505050;
  }
  .mat-cell {
    padding-right: 20px;
    //display: grid;
    //display: block;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }
}

.mat-header-row {
  .mat-header-cell {
    padding-right: 20px;
    //word-break: break-word;
  }
}

.sql-output-table-container {
  display: flex;
  //overflow: auto;
}
