<mat-form-field>
  <mat-label>Username</mat-label>
  <input matInput placeholder="enter name" [formControl]="username">
</mat-form-field>
<mat-form-field>
  <mat-label>Host</mat-label>
  <input matInput placeholder="enter host" [formControl]="host">
</mat-form-field>

<mat-form-field>
  <mat-label>Password</mat-label>
  <input matInput placeholder="enter host" [formControl]="password">
</mat-form-field>
<button (click)="cancel()" mat-flat-button color="primary">Cancel</button>
<button (click)="createUser()" mat-flat-button color="primary">Save user</button>
