@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif'
);
@include mat-core();

$primary: (
  50 : #e4eef4,
  100 : #bdd5e4,
  200 : #91bad2,
  300 : #649ec0,
  400 : #4389b3,
  500 : #2274a5,
  600 : #1e6c9d,
  700 : #196193,
  800 : #14578a,
  900 : #0c4479,
  A100 : #aad2ff,
  A200 : #77b7ff,
  A400 : #449cff,
  A700 : #2a8eff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: black,
  )
);

$accent: (
  50 : #ecfcff,
  100 : #d0f8ff,
  200 : #b0f4ff,
  300 : #90f0ff,
  400 : #79ecff,
  500 : #61e9ff,
  600 : #59e6ff,
  700 : #4fe3ff,
  800 : #45dfff,
  900 : #33d9ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #def8ff,
  A700 : #c4f3ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: black,
  )
);
$colors-primary: mat-palette($mat-blue);
$colors-accent:  mat-palette($mat-blue-gray);

// include the custom theme components into a theme object
$sql-theme: mat-light-theme($colors-primary, $colors-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($sql-theme);
@include angular-material-typography($custom-typography);


html {font-size: 14px !important;}

html, body { height: 100%; }
body { font-size: 1rem !important; margin: 0; font-family: 'Montserrat', sans-serif !important; }

.padded {
  padding: 10px 15px;
}

.margin-over {
  margin-top: 10px;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-auto {
  overflow: auto;
}

.content-wrapper {
  padding: 10px 10px 0 10px;
  margin: 5px 5px 0 5px;
  //margin: 20px 20px 0 20px;
  //padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  .mat-card {
    margin-bottom: 15px;
  }

  .mat-list-item {
    height: 30px;
  }

  .mat-icon{
    cursor: default;
    margin: 0 3px;
    font-size: 1.5rem;
  }

  .mat-button-base {
    margin: 5px 0;
  }

  .mat-card {
    padding: 12px;
  }

  .button-icon {
    cursor: pointer;
    transition: text-shadow 100ms;
    &:hover {
      text-shadow: 0 1px 3px grey;
    }
  }

  .mat-form-field {
    margin: 0 5px;
  }

  .mat-list-base {
    .mat-list-item {
      height: 32px;
      font-size: 1rem;
      transition: text-shadow 100ms;
      //cursor: default;
      cursor: pointer;
      &:hover {
        text-shadow: 0 1px 1px grey;
      }
      .mat-list-item-content {
        padding-left: 0;
      }
    }
  }
  .box {
    padding: 5px 10px;
    border: 1px solid #72727266;
    border-radius: 5px;
    // mat-elevation-z2
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }
}

.center-flex {
  display: flex;
  justify-content: center;
}

.mat-snack-bar-container {
  &.snack-error {
    background-color: #c72929;
  }
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}
