html {font-size: 14px !important;}

html, body { height: 100%; }
body { font-size: 1rem !important; margin: 0; font-family: 'Montserrat', sans-serif; }

.padded {
  padding: 10px 15px;
}

.content-wrapper {
  margin: 20px 20px 0 20px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  .mat-card {
    margin-bottom: 15px;
  }

  .mat-list-item {
    height: 30px;
  }
}
