@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif'
);
@include mat-core();

$colors-primary: mat-palette($mat-blue);
$colors-accent:  mat-palette($mat-orange);

// include the custom theme components into a theme object
$sql-theme: mat-light-theme($colors-primary, $colors-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($sql-theme);
@include angular-material-typography($custom-typography);


html {font-size: 14px !important;}

html, body { height: 100%; }
body { font-size: 1rem !important; margin: 0; font-family: 'Montserrat', sans-serif !important; }

.padded {
  padding: 10px 15px;
}

.content-wrapper {
  padding: 10px 10px 0 10px;
  margin: 5px 5px 0 5px;
  //margin: 20px 20px 0 20px;
  //padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  .mat-card {
    margin-bottom: 15px;
  }

  .mat-list-item {
    height: 30px;
  }

  .mat-icon{
    cursor: default;
    margin: 0 3px;
    font-size: 1.5rem;
  }

  .mat-button-base {
    margin: 5px 0;
  }

  .mat-card {
    padding: 12px;
  }

  .button-icon {
    cursor: pointer;
    transition: text-shadow 100ms;
    &:hover {
      text-shadow: 0 1px 3px grey;
    }
  }

  .mat-form-field {
    margin: 0 5px;
  }

  .mat-list-base {
    .mat-list-item {
      height: 32px;
      font-size: 1rem;
      transition: text-shadow 100ms;
      cursor: default;
      &:hover {
        text-shadow: 0 1px 1px grey;
      }
      .mat-list-item-content {
        padding-left: 0;
      }
    }
  }
  .box {
    padding: 5px 10px;
    border: 1px solid #72727266;
    border-radius: 5px;
    // mat-elevation-z2
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }
}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}
